.receita-container{ 
	position: relative;
	width: 100%;
	margin-bottom: 2rem;
	border: 1px double #000;
}

.receita-container, .receita, .receita-form{
	border-radius: 10px 10px 0 0;
}

.receita-container::after{
	position: absolute;
	bottom: -6px;
	height: 6px;
	width: 100%;
	border-radius: 0 0 10px 10px;
	background-color: #000;
	content: "";
}

.receita{
	display: grid;
	grid-template-areas: "imagem descricao descricao acoes"
						 "imagem info info acoes";
	grid-template-columns: .4fr repeat(2,1.2fr) .4fr;
	background-color: #e7e7e7;
	cursor: pointer;
}

.receita__imagem{
	grid-area: imagem;
	width: 256px;
	height: 100%;
	border-right: 1px solid #000;
	border-radius: 10px 0 0 0;
	background-color: #fff;
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover; 
}

.receita__descricao{
	grid-area: descricao;
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.receita__nome{ font-size: 1.9rem;}

.receita__texto{  
	padding: 2px .6em;
	font-size: 1.4rem;
	text-align: justify;
}

.receita__informacoes{
	grid-area: info;
	display: flex;
	justify-content: space-around;
	padding: .3em 0;
}

.receita__info-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.receita__info-icone{ font-size: 2em;}
.receita__info-icone--favorito{ color: var(--secondary);}
.receita__info-icone--autor{ color: var(--primary);}

.receita__info-box{
	padding: 4px;
	background-color: #fff;
	box-shadow: 1px 2px 2px gray inset,
				-1px -2px 2px gray inset;
}

.receita__acoes{ 
	grid-area: acoes;
 	position: relative;
 	border-left: 1px solid #000;
}

.receita__acoes, .receita__acoes button{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}

.receita__acoes button{ cursor: pointer;}

.receita__acao-favorito:hover .receita__favorito-icone{ color: #FCB55F;}
.receita__acao-favorito:hover .receita__favorito-icone--ativo{ color: gray;}

.receita__favorito-icone, .receita__edita-icone{ font-size: 4.8em;}

.receita__favorito-icone--ativo{ color: var(--secondary);}

.receita__acao-texto{ font-size: 1.3em;}

.receita__acao-remove{ 
	position: absolute;
	top: 4px;
	right: 4px;
	color: var(--primary);
	font-size: 2.4em;
}

.receita__acao-remove:hover{ animation: sacudir .5s infinite;}

.receita__acao-edita{
	position: absolute;
	bottom: 10px;
	right: 4px;
}

.receita__acao-edita:hover .receita__edita-icone{ animation: sacudir 1s infinite;}

.receita-form{
	display: none;
	padding: 1em;
	background-color: #FFF;
}

.receita-form__titulo{
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
}

.receita-form__nome{ color: var(--primary);}

.receita-form__botoes-container{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: auto;
}

.receita-form__botao{
	padding: 10px 20px;
	border: 2px solid #FFF;
	border-radius: 5px;
	color: #FFF;
	font-size: 1.2em;
	font-weight: bold;
	cursor: pointer;
}

.receita-form__botao--cancelar{ background-color: var(--secondary);}
.receita-form__botao--cancelar:hover{ background: rgba(222, 135, 5, 1); color: var(--primary);}

.receita-form__botao--excluir{ background-color: var(--primary);}
.receita-form__botao--excluir:hover{ background-color: rgba(120, 3, 3, 1); color: var(--secondary);}

@keyframes sacudir {
  0% { transform: translate(0, 0) rotate(0deg);}
  25% { transform: translate(5px, 5px) rotate(5deg);}
  50% { transform: translate(0, 0) rotate(0deg);}
  75% { transform: translate(-5px, 5px) rotate(-5deg);}
  100% { transform: translate(0, 0) rotate(0deg);}
}