main{ 
	display: flex;
	flex-direction: column;
	row-gap: .8em;
	width: 70%;
}

/* Seção De Pesquisa */
.pesquisa{ 
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.pesquisa__label{ font-size: 2.4em;}

.pesquisa__barra{
	display: grid;
	grid-template-areas: "barra barra barra barra botao"
						 "sugestoes sugestoes sugestoes sugestoes nada"
}

.pesquisa__input{
	grid-area: barra;
	padding: .4em;
	border-radius: 5px;
	font-size: 1.7em;
	text-transform: uppercase;
}
.pesquisa__input::placeholder{ text-transform: capitalize;}

.pesquisa__botao{
	grid-area: botao;
	background-color: var(--primary);
	color: var(--secondary);
	border: 2px outset var(--secondary);
	border-radius:  0 5px 5px 0;
	font-size: 3.2em;
	font-weight: bold;
	cursor: pointer;
}
.pesquisa__botao:hover{ background-color: var(--primary); opacity: .9;}
.pesquisa__botao:active{ border-style: inset;}

/* Sugestões */
.sugestoes{
	grid-area: sugestoes;
	width: 100%;
	border-radius: 5px; 
	background-color: #FFF;
	box-shadow: 4px 4px .8em rgba(0,0,0,0.5);
	list-style: none;
}

.sugestoes__item{ 
	padding: .4em;
	font-size: 1.5em;
	cursor: pointer;
}
.sugestoes__item:hover{ background-color: #E7E7E7;}
.sugestoes__item:last-of-type{ border-radius: 0 0 5px 5px;}

.sugestoes__item--cadastrar{ 
	background-color: var(--primary);
	color: #FFF;
	font-weight: bold;
	text-align: center;
}
.sugestoes__item--cadastrar:hover{ background-color: var(--primary); color: var(--secondary);}

.sugestoes__item-digitado{ 
	display: flex; 
	justify-content: space-between;
	align-items: center;
	border: 2px solid var(--primary);
	border-top: none;
	border-radius: 5px 5px 0 0;
}

.sugestoes__item-digitado--errado{ color: var(--primary); font-style: italic;}

.sugestoes__mensagem-de-erro{ color: initial; font-size: .7em;}

/*.pesquisa__botao{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: .05em .4em;
	border: 2px inset #000;
	border-radius: 0 5px 5px 0;
	background-color: var(--primary);
	color: var(--secondary);
	font-size: 2.8em;
	font-weight: bold;
	cursor: pointer;
}
.pesquisa__botao:hover{ background-color: var(--primary); opacity: .9;}
.pesquisa__botao:active{ border-style: outset;}*/

/* Seção De Ingredientes */
.ingredientes{ width: 100%; margin: 1em auto;}

.ingredientes__container{
	display: flex;
	flex-wrap: wrap;
	row-gap: .5em;
	column-gap: 1em;
	width: 100%;
	padding: .5em;
	border: 2px solid var(--primary);
	border-radius: 5px;
}

.ingredientes__elemento{
	padding: .4em;
	border: 1px solid var(--secondary);
	border-radius: 10px;
	color: var(--secondary);
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
.ingredientes__elemento:hover{
	background-color: var(--primary);
	color: #FFF;
	border: none;
	opacity: .8;
}
.ingredientes__elemento:active{ border: 1px solid #000;}

.ingredientes__elemento--errado{ color: var(--primary); border-color: var(--primary);}

/* Seção De Receitas*/
.receitas{ position: relative; margin-top: 1em;}

.receitas::after{
	content: '';
	position: absolute;
	bottom: -9px;
	height: 5px;
	width: 100%;
	background-color: var(--primary);
}

.receitas__titulo{
	display: flex;
	align-items: center;
	color: var(--secondary);
	font-size: 2.2em;
	cursor: pointer;
}
.receitas__titulo:active{ font-size: 2.3em;}

.receitas__seta{ transition: .3s; transform: rotate(360deg);}
.receitas__seta--girar{ transform: rotate(180deg);}

.receitas__container{ max-height: .01em; overflow: hidden;}

.receitas__container--abrir{ animation: abrir .5s forwards;}

@keyframes abrir{
	20%{ max-height: 10em;}
	40%{ max-height: 20em;}
	60%{ max-height: 40em;}
	80%{ max-height: 80em;}
	100%{ max-height: max-content;}
}