main{ width: 80%; height: auto;}

/* Seção */
.secao{
	display: flex;
	flex-direction: column;
	row-gap: .6em;
	width: 100%;
	margin-top: 2em;
	border-bottom: 2px solid var(--primary);
}

/* Usuário */
.usuario-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 26em;
	width: 24em;
	margin: auto;
	margin-bottom: 2em;
	border: 1px solid #000;
	border-radius: 5px;
	background-color: #E7E7E7;
}

.usuario-card__imagem{ 
	width: 20rem;
	height: 20rem;
	border: 2px solid var(--primary);
	border-radius: 5px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.usuario-card__nome{ 
	margin-top: 10px;
	text-align: center; 
	font-size: 3em; 
}

/* Ação */
.acao{ display: flex; justify-content: space-between;}
.acao--com-menu{position: relative; flex-direction: column;}

.acao__botao{
	width: 20em;
	margin-bottom: 10px;
	cursor: pointer;
}

.acao__botao:hover:not(.acao__botao--inativo){ background-color: #e7e7e7;}

.acao__botao--inativo{ cursor: default;}

.acao__botao--inativo .acao__icone{ color: var(--secondary);}

.acao__icone{
	display: block;
	color: var(--primary);
	font-size: 7em;
}

.acao__descricao{ font-size: 1.8em;}

/* Menu Da Conta*/
.menu-conta{
	position: absolute;
	bottom: -9em;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #000;
	background-color: #FFF;
	list-style: none;
	z-index: 1;
}
.menu-conta--escondido{visibility: hidden;}

.menu-conta__botao{
	padding: .5em;
	font-size: 1.3em;
	text-transform: uppercase;
	cursor: pointer;
}
.menu-conta__botao:hover{ 
	opacity: .8; 
	font-weight: bold;
	text-decoration: underline; 
}

.menu-conta__botao:first-of-type{ 
	border-bottom: 1px solid #000;
	border-radius: 5px 5px 0 0; 
	background-color: var(--secondary);
	color: #FFF; 
}

.menu-conta__botao:last-of-type{
	border-top: 1px solid #000; 
	border-radius: 0 0 5px 5px;
	background-color: var(--primary);
	color: #FFF;
	font-weight: bold;
}
.menu-conta__botao:last-of-type:hover{
	font-size: 1.4em;
	text-align: center;
	text-decoration: unset;
	transition: .3s;
}

/* Outros Elementos Da Seção */
.secao__titulo{
	display: flex;
	align-items: center;
	color: var(--secondary);
	font-size: 2.4em;
	font-weight: bold;
	cursor: pointer;
	line-height: 1em;
}

.secao__titulo:active{ font-size: 2.5em;}

.secao__seta{ transform: rotate(360deg); transition: .3s; }
.secao__seta--subir{ transform: rotate(180deg);}

.secao__container{ height: 1px; visibility: hidden;}

.secao__container--abrir{ 
	animation: .6s abrir forwards;
	visibility: visible;
}

@keyframes abrir{
	20%{ height: 20%;}
	40%{ height: 40%;}
	60%{ height: 60%;}
	80%{ height: 80%;}
	100%{ height: auto;}
}